<ion-view id="login">
	<ion-content>
		<h2><span class="icon-woo"></span></h2>
		<div class="list">
			<form name="signup_form" novalidate ng-submit="login()">
				<label class="item item-input input-eml">
				<input name="email" type="email" placeholder="邮件名称" ng-model="user.email" required>
				</label>
				<label class="item item-input input-psd">
					<input name="password" type="password" placeholder="密码" ng-model="user.password" minlength=6 required>
				</label>

				<button ng-class="{disabled: signup_form.$invalid}" ng-disabled="signup_form.$invalid" type="submit"><i class="icon-chevron-with-circle-right"></i></button>
			</form>

		</div>	
	</ion-content>

	<a class="register" ng-click="register(user)">
		<i class="icon-playlist-add"></i>
	</a>
	
</ion-view>
