<ion-side-menus enable-menu-with-back-views="false" id="woo-side">
	<ion-side-menu-content>

		<ion-nav-bar class="side-top bar-light">
        	<ion-nav-back-button>
        	</ion-nav-back-button>
          <ion-nav-buttons side="left">
              <button class="button button-icon button-clear" menu-toggle="left">
                <i class="icon-menu"></i>
              </button>
          </ion-nav-buttons>
    </ion-nav-bar>

		<ion-nav-view name="menuContent">
		</ion-nav-view>

	</ion-side-menu-content>

	<ion-side-menu width="102" side="left">
		<ion-header-bar>
      <a><img ng-src="img/profile.jpg" /></a>
		</ion-header-bar>
		<ul class="side-tools">
      <li><a href="#/main/timeline" menu-close><i class="icon-settings"></i></a>
       </li>
       <li><a href="#/main/timeline" menu-close><i class="icon-grid"></i></a>
       </li>
       <li><a href="#/main/share" menu-close><i class="icon-comment"></i></a>
       </li>
       <li><a href="#/main/friends" menu-close><i class="icon-users"></i></a>
       </li>
       <li><a href="#/login" menu-close><i class="icon-switch"></i></a>
       </li>
		</ul>
	</ion-side-menu>
</ion-side-menus>

<script id="templates/modal.html" type="text/ng-template">
      <ion-modal-view class="modal-new">
        <ion-header-bar class="bar bar-header bar-dark">

          <button class="button button-clear button-primary" ng-click="modal.hide()">取消</button>
          <h1 class="title">记录</h1>
          
        </ion-header-bar>
        <ion-content class="padding">

          <div class="list">
            <label class="item item-input">              
            <textarea name="content" ng-model="message.content" type="text">
            </textarea>
            </label>

            <button class="button button-full button-positive" ng-click="create(message)">发送</button>
          </div>
		    </ion-content>
      </ion-modal-view>
</script>