<ion-view view-title="">
  <form name="create_line" novalidate ng-submit="createLine()">
  <ion-nav-bar class="bar-light timeline-header">
    <ion-nav-back-button>
		<i class="icon-keyboard-arrow-left"></i>圈子
    </ion-nav-back-button>
    <ion-nav-buttons side="right">
      <button class="button" type="submit" ng-disabled="create_line.$invalid">
        保存
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="timeline-container">
	<div>
		<form>
			<div class="timeline-cover" ng-click="showActionsheet()">
				<input type="hidden" ng-model="line.cover" name="cover" />
				<a><img ng-src="{{line.cover}}" /></a>
				<i class="ion-plus-round"></i>
			</div>
			<div class="timeline-date">
				<a>{{ nowTime | amDateFormat: 'ddd, MMMDo, A hh:mm' }}</a>
			</div>
			<div class="timeline-content">
				<textarea required ng-model="line.comment" placeholder="从这里开启你的旅程"></textarea>
			</div>
		</form>
	</div>
  </ion-content>
  </form>
</ion-view>
